{% extends "base.html" %}

{% block content %}

<h1>About</h1>
<p>This project was made at the <a href="http://localgovdigital.info/localgovcamp/localgovcamp-and-fringe-2016/localgovcamp-makers-day-2016/">
  LocalGovCamp Maker day 2016</a></p>
<p>It was made by:</p>

<ul>
  <li><a href="https://twitter.com/h_r_adams">Helen Adams</a></li>
  <li><a href="https://twitter.com/Ox1Digital">Neil Lawrence</a></li>
  <li><a href="https://twitter.com/Jargonautical">Lucy Knight</a></li>
  <li><a href="https://twitter.com/oddjones">Dominic Jones</a></li>
  <li><a href="https://twitter.com/symroe">Sym Roe</a></li>
</ul>

{% endblock content %}
