{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">

        <div class="row">
          <div class="col-lg-9 text-center">
            <h1>{{ object.service_name }}</h1>
            <h3>{{ object.provider.name }}</h3>
            <p><a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/services/{{ object.service_id }}" class="btn btn-info">View on G-Cloud</a></p>
            <div class="gcloud_info" style="text-align:left">
              {{ object.raw_html|safe }}
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <p><a href="{% url 'service_used_form_detail' object.pk %}" class="btn btn-primary">I've used this service</a></p>
            <p><button class="btn btn-primary">I'm considering using this service</button></p>
          </div>

          <hr />

          <h3>Existing users</h3>
          <ul>
            <li>Trumpton Council <a href="#" class="btn btn-secondary btn-sm"></a></li>
          </ul>
        </div>

    </div>
</div>
{% endblock content %}



